<main>
  <div class='toggle-buttons'>

    {{#each sounds as |sound|}}

      <!-- Replace the audio player with a clickable image -->
      <div id='full-button'>
        <div class='button-title'>{{sound.title}}</div>
        <button
          class='audioControl toggle-button off'
          alt='Play Button'
          style="{{sound.img}}"
        ></button>

        <audio class='audioPlayer'>
          <source src={{sound.mp3}} type='audio/mpeg' />
          Your browser does not support the audio element.
        </audio>
        <div class='favorites'>
          <input type='checkbox' class='favorite' data-button='button1' />
          <label for='favorites'>Favorite</label>
        </div>
      </div>

    {{/each}}

    {{! <div class="button-title">Button One</div>
        <button class="toggle-button off" id="button1"></button>
        <input type="file" id="upload1" accept="audio/mp4" />
        <div class="favorites">
          <input type="checkbox" class="favorite" data-button="button1" />
          <label for="favorites">Favorite</label>
        </div>

        <div class="button-title">Button Two</div>
        <button class="toggle-button off" id="button2"></button>
        <input type="file" id="upload2" accept="audio/mp4" />
        <div class="favorites">
          <input type="checkbox" class="favorite" data-button="button2" />
          <label for="favorites">Favorite</label>
        </div>

        <div class="button-title">Button Three</div>
        <button class="toggle-button off" id="button3"></button>
        <input type="file" id="upload3" accept="audio/mp4" />
        <div class="favorites">
          <input type="checkbox" class="favorite" data-button="button3" />
          <label for="favorites">Favorite</label>
        </div>

        <div class="button-title">Button Four</div>
        <button class="toggle-button off" id="button4"></button>
        <input type="file" id="upload4" accept="audio/mp4" />
        <div class="favorites">
          <input type="checkbox" class="favorite" data-button="button4" />
          <label for="favorites">Favorite</label>
        </div>

        <div class="button-title">Button Five</div>
        <button class="toggle-button off" id="button5"></button>
        <input type="file" id="upload5" accept="audio/mp4" />
        <div class="favorites">
          <input type="checkbox" class="favorite" data-button="button5" />
          <label for="favorites">Favorite</label>
        </div> }}
  </div>

  {{!-- ADDED FOR RECORDER --}}
    
    
    <h3 class="center-align" style="color: white, width: 100vw;">Audio Recorder</h3>
    <div class="row">
        <div class="col s12">
            <button id="recordButton" class="center-align" style="width: 20vw, width: 100%;
              height: 3vh">Start Recording</button>
            <button id="stopButton" class="center-align" style="padding: 5px,  width: 20vw, width: 100%;
              height: 3vh">Stop Recording</button>
        </div>
    </div>

    
    <div>
        </div>
      </div>
      <div class='row'>
        <div class='col s12'>
          <audio id='audioPlayback' controls></audio>
        </div>
      </div>
      <div class='row'>
        <div class='col s12'>
          <button
            id='uploadButton'
            class='btn waves-effect waves-light blue'
            disabled
          >Upload Recording</button>
        </div>
      </div>
    </div>

  
    <script src='/js/scripts.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/recorder.js"></script>

</main>

<footer>Funny sounds to suit the mood!<br />Made by Michael, Orrndrea, Scheck,
  and Hasan.</footer>